@model DepartmentManagementSystem.Models.EntityFramework.tblUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DMS Sign In Page</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/login.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
            @using (Html.BeginForm())
            {
                <div class="fadeIn first">
                    <img src="~/Content/images/department.jpeg" id="icon" alt="Department Management Icon" />
                    <h3><b>Department<br />Management System</b></h3>
                    <p><i>Sign In Page</i></p>
                </div>
                <form>
                    @Html.TextBoxFor(m => m.u_Name, htmlAttributes: new { id = "login", @class = "fadeIn second", name = "login", placeholder = "Username" })
                    @Html.PasswordFor(m => m.u_Password, htmlAttributes: new { id = "password", @class = "fadeIn third", name = "login", placeholder = "Password" })
                    <input type="submit" class="fadeIn fourth" value="Sign In">
                    <p class="fadeIn fourth">@ViewBag.Message</p>
                </form>
            }
        </div>
    </div>
</body>
</html>
