<footer id="sticky-footer" class="py-xl-3 text-black-50 bottom:0" style="background-color: #e5e5e5">
    <div class="container text-center">
        <small>Copyright &copy; Department Management</small>
    </div>
</footer>