<nav class="navbar navbar-expand navbar-dark flex-column flex-md-row bd-navbar-nav bg-dark">
    <a class="navbar-brand mb-0 h2" href="/Department">
        <img src="~/Content/images/department.jpeg" width="50" height="40" class="d-inline-block align-items-md-center" alt="" />  Department Management System
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a class="nav-link align-items-center" href="/Department/Index">Departments</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/Personnel/Index">Personnels</a>
            </li>
        </ul>
    </div>
</nav>
